.ul {
  padding-left: 28px;
  list-style: disc;

  .li {
    margin: 16px 0;
    text-align: justify;
    color: var(--text-primary-color);

    &::marker {
      font-size: 14px;
      color: var(--text-primary-color);
    }
  }
}
